**.meta
*.meta
.DS_Store
*.log
Logs/
Packages/
ProjectSettings/
Temp/
Library/
/*/outputs/


#android studio
build
gen
.gradle
.idea
.hgcheck
infer-out
captures
local.properties
*.orig
*.rej
out
bin
dist
*.iml
build.gradle_mine
.DS_Store
*.idea