name: release for upm
on:
  push:
    branches:
    - master
jobs:
  split-upm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Modify package.json
        run: echo "`jq '.version = "6.6.0"' ./Assets/AppsFlyer/package.json`" > ./Assets/AppsFlyer/package.json
      - name: Commit changes
        env:
            COMMIT_AUTHOR: ${{ secrets.CI_USERNAME }}
            COMMIT_EMAIL: ${{ secrets.CI_EMAIL }}
        run: |
          git config user.name $COMMIT_AUTHOR
          git config user.email $COMMIT_EMAIL
          git add -A
          git commit -m "update package.json"
          git push origin master
      - name: split branch
        run: |
          git branch -d upm &> /dev/null || echo upm branch not found
          git subtree split -P Assets/AppsFlyer -b upm
          git checkout upm
          git push -f -u origin upm
      - name: create tag
        run: |
          git tag v6.6.0
          git push origin v6.6.0
